body, table, tr, td, select{font-size:10pt; font-family:sans-serif; line-height:120%; }
a:link{color:#056F9B; text-decoration: none;}
a:visited{color:#056F9B; text-decoration: none;}
a:active{color:#575656; text-decoration: none;}
a:hover{color:#575656; text-decoration: none;}